.btn.btn-embossed {
	width:60px;
}
.form-control.input-sm{
	width:120px;
}

.btn.btn-embossed.btn-info.restart {
	background-color : #d35400;
	font-size :10px;
	left : 20%;
}

.btn.btn-embossed.btn-info.start { 
	background-color : #2ecc71;
	font-size :10px;
	left : 40%;
}

.btn.btn-default {
	width:50px;
	background-color: #7f8c8d;
}
.btn.btn-primary {
	width:50px;

}
.btn.btn-warning {
	width:50px;

}
.btn.btn-danger {
	width:50px;
	height:42px; /*better way?*/
}
.btn.btn-inverse {
	width:50px;
}

.control_panel {
	position : fixed;
	bottom : 2px;
}

.cards {
	padding-bottom: 10px;
	font-size: 40px;
}

body {
	background-color:#f9f9f9;
}

.top_bar {
	height: 2px;
	color : #2980b9;
	background-color : #2980b9;
	border : 0;
}

#feedback {
	color:#27ae60;
}

