.btn.btn-embossed.btn-info {
	width:60px;
}
/*
#first {
	position: relative;
	left: 40%;
}

#second {
	position: relative;
	left: 60%;
}

#third {
	right: 20%;
}

#fourth {
	left: 20%;
}

#space {
	position: absolute;
	left:50%;
}*/

.cards {
	font-size: 40px;
}

.top_bar {
	height: 2px;
	color : #2980b9;
	background-color : #2980b9;
	border : 0;
}