.btn.btn-embossed {
	width:60px;
}
.form-control.input-sm{
	width:120px;
}

.btn.btn-default {
	width:50px;
	background-color: #7f8c8d;
}
.btn.btn-primary {
	width:50px;

}
.btn.btn-warning {
	width:50px;

}
.btn.btn-danger {
	width:50px;
	height:42px; /*better way?*/
}
.btn.btn-inverse {
	width:50px;
}

/*
#first {
	position: relative;
	left: 40%;
}

#second {
	position: relative;
	left: 60%;
}

#third {
	right: 20%;
}

#fourth {
	left: 20%;
}

#space {
	position: absolute;
	left:50%;
}*/

.cards {
	/*padding-top:10px;*/
	padding-bottom: 10px;
	font-size: 40px;
}



.top_bar {
	height: 2px;
	color : #2980b9;
	background-color : #2980b9;
	border : 0;
}

#feedback {
	color:#27ae60;
}